@{
    ViewData["Title"] = "Contact List";
}

@model List<Bowler>

<h1>Bowler Contact List</h1>

<button><a asp-controller="Home" asp-action="Create">Create new record</a></button>
<br />

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>First Name</td>
            <td>Middle</td>
            <td>Last Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.BowlerFirstName</td>
            <td>@x.BowlerMiddleInit</td>
            <td>@x.BowlerLastName</td>
            <td>@x.BowlerAddress</td>
            <td>@x.BowlerCity</td>
            <td>@x.BowlerState</td>
            <td>@x.BowlerZip</td>
            <td>@x.BowlerPhoneNumber</td>
            <td class="text-center">
                <form method="get" asp-action="Edit">
                    <input type="hidden" name="appid" value="@x.BowlerID" />
                    <button type="submit" class="btn btn-sm ">Edit</button>
                </form>
            </td>
            <td class="text-center">
                <form method="post" asp-action="Delete">
                    <input type="hidden" name="appid" value="@x.BowlerID" />
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        }
        </tbody>
    </table>